html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #162438;
}

@media (max-width: 640px) {
    #root {
        height: auto;
        min-height: 100%;
    }
}

input {
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}
